*{
    margin: 0;
}
body{
    font-family: sans-serif;
}
header{
    height: 40vh;
    width: 100%;
}
header img{
    width: 100%;
    height: 40vh;
}
nav{
    width: 100%;
    height: 23vh;
}
nav ul{
    padding: 20px 0;
    list-style: none;
    text-align: center;
}
nav ul li{
    font-size: 19px;
    margin: 15px 0;
}
.contenedor{
    color: white;
    background-color: black;
    display: flex;
}
body article{
    
    width: 60%;
    height: 700px;
}
.contenedor article h1{
    font-style: oblique;
    margin-top: 25px;
    text-align: center;
}
.contenedor article section{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor article section video{
    margin: 0;
    padding: 0;
    width: 50vw;
    height: 500px;
}
body aside{
    padding: 40px 30px;
}
body aside{

    width: 40%;
    height: 700px;
}
body aside table, th, tr, td{
    padding: 10px;
    border-collapse: collapse;
    border: 1px white solid;
    text-align: center;
}
body aside{
    display: flex;
}
footer{
    color: white;
    background-color: black;
    width: 100%;
    height: 100px;
}
footer p{
    padding-top: 45px;
    text-align: center;
}
.article2{
    width: 100%;
}
.box{
    display: flex;
}
.box img{
    padding: 18px;
    width: 190px;
    height: 200px;
}